:root {
    --text: antiquewhite;
    --main-accent: darkslategray;
    --secondary-accent: rgb(88, 132, 132);
    --background: rgb(51, 51, 51);
}

@media (prefers-color-scheme: light) {
    :root {
        --text: antiquewhite;
        --main-accent: rgb(124, 141, 141);
        --secondary-accent: rgb(79, 155, 155);
        --background: rgb(116, 116, 116);
    }
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
}

body {
    background-color: var(--background);
}

.header {
    display: inline-block;
    align-content: center;
    text-align: center;
    margin: auto;
    width: 100%;
}

.header-button {
    padding: 10px;
    background-color: var(--main-accent);
    border: none;
    border-radius: 15px;
    color: var(--text);
    font-size: 1em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--main-accent);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    max-width: 750px;
    column-gap: 1em;
    row-gap: 1em;
    margin-left: auto;
    margin-right: auto;
}

.grid-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    background-color: var(--main-accent);
    padding: 1em;
}

.grid-button {
    padding: 10px;
    background-color: var(--secondary-accent);
    border: none;
    border-radius: 15px;
    width: 40%;
    color: var(--text);
    margin: 10px;
}

.compact {
    max-height: 200px;
    overflow-y: hidden;
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}